{% extends "page_template.html" %}


{% macro create_file_link(item, last) %}
        {% set name = item.name %}
        {% if item.mitm_info %}
            {% set name = item.mitm_info.time + " -- " + item.mitm_info.src + ":" + item.mitm_info.sport + " --> " + item.mitm_info.dst + ":" + item.mitm_info.dport %}
        {% endif%}    
        
        {% set name = name + " -- " + item.size|string + "B"%}

        <li {% if last %} class="lastChild"  {% endif %}>
            <a href="/{{ item.path }}/{{ item.name }}"> <code>{{ name }}</code></a> 
            {% if item.mitm_info %} <a href="/pythonize?a={{ item.safe_path }}"> -- ..py!</a> <a href="/smcap2pcap?a={{ item.safe_path }}">pcap!</a>{% endif %}
        </li>
{% endmacro%}

{% macro create_dir_link(item, last) %}
        <li {% if last %} class="lastChild"{% endif %}>
            <a href="/{{ item.path }}/">{{ item.name }}</a>
{% endmacro%}
                
{% block title %}: {{ tree.name }} {% endblock %}

{% block caption %}: {{ tree.name }} {% endblock %}

{% block head %}
<script>var runOnLoad=function(m,o,r,l,e,y){function x(){for(y=1;m.length;)m.shift()()}r[l]?(r[l]('DOMContentLoaded',x,0),o[l]('load',x,0)):o[e]('onload',x);return function(t){y?o.setTimeout(t,0):m.push(t)}}([],window,document,'addEventListener','attachEvent');</script>
<script type="text/javascript" src="/styles?a=CollapsibleLists.js"></script>
<script type="text/javascript">       


runOnLoad( function(){ 
        CollapsibleLists.apply(); 
        
        var para = document.createElement("p");        
        var node = document.createTextNode("loaded ok");
        para.appendChild(node);

        var parent = document.getElementById("testp");
        var child = document.getElementById("testc");
        
        parent.replaceChild(para,child);
  });    
  
</script>

{% endblock %}

{% block style %}

     .treeView{
        -moz-user-select:none;
        position:relative;
      }

      .treeView ul{
        margin:0 0 0 -1.5em;
        padding:0 0 0 1.5em;
      }

      .treeView ul ul{
        background:url('/images?a=list-item-contents.png') repeat-y left;
      }

      .treeView li.lastChild > ul{
        background-image:none;
      }

      .treeView li{
        margin:0;
        padding:0;
        background:url('/images?a=list-item-root.png') no-repeat top left;
        list-style-position:inside;
        list-style-image:url('/images?a=button.png');
        cursor:auto;
      }

      .treeView li.collapsibleListOpen{
        list-style-image:url('/images?a=button-open.png');
        cursor:pointer;
      }

      .treeView li.collapsibleListClosed{
        list-style-image:url('/images?a=button-closed.png');
        cursor:pointer;
      }

      .treeView li li{
        background-image:url('/images?a=list-item.png');
        padding-left:1.5em;
      }

      .treeView li.lastChild{
        background-image:url('/images?a=list-item-last.png');
      }

      .treeView li.collapsibleListOpen{
        background-image:url('/images?a=list-item-open.png');
      }

      .treeView li.collapsibleListOpen.lastChild{
        background-image:url('/images?a=list-item-last-open.png');
      }

        .collapsibleList li{
        list-style-image:url('/images?a=button.png');
        cursor:auto;
       }

        li.collapsibleListOpen{
        list-style-image:url('/images?a=button-open.png');
        cursor:pointer;
        }

        li.collapsibleListClosed{
        list-style-image:url('/images?a=button-closed.png');
        cursor:pointer;
        }      
      
{% endblock %}
      
{% block script %}
runOnLoad( function(){ 
        CollapsibleLists.apply(); 
        
        var para = document.createElement("p");        
        var node = document.createTextNode("loaded ok");
        para.appendChild(node);

        var parent = document.getElementById("testp");
        var child = document.getElementById("testc");
        
        parent.replaceChild(para,child);
  });    

{% endblock %}

{% block content %}

<div id="content">
    <p>
        <ul class="treeView">
            <a href="/">&nbsp/</a>

            {%  set p = "/" %}
            {%  for b in tree.path.split("/"): %}
                {%    set p = p + b + "/"    %}
                <a href="{{p}}"> {{b}} </a>/&nbsp
            {%  endfor %}

            <!-- <li> <b>{{ tree.name }}</b> -->
                
            <li class="lastChild"><a href="/{{ tree.path }}/../">&nbsp&nbsp..&nbsp&nbsp</a></li>
                <ul class="collapsibleList">
                    {%- for item in tree.children recursive -%}

                        {%- if item.di %}
                            {{ create_dir_link(item,loop.last) }}
                            {% if item.children %}
                                <ul>
                                {{ loop(item.children) }}
                                </ul> 
                            {% endif %}
                            </li> <!-- close create_dir_link output manually -->
                        {% else %}
                            {{ create_file_link(item,loop.last) }}
                            
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </p>
</div>


<div id="testp">
<p id="testc">Loading js...</p>
</div>

{% endblock %}


