<!doctype html>
<html>

<head>
<title>Path: {{ tree.name }}</title>
<script>var runOnLoad=function(m,o,r,l,e,y){function x(){for(y=1;m.length;)m.shift()()}r[l]?(r[l]('DOMContentLoaded',x,0),o[l]('load',x,0)):o[e]('onload',x);return function(t){y?o.setTimeout(t,0):m.push(t)}}([],window,document,'addEventListener','attachEvent');</script>
<script type="text/javascript" src="/stylesheets/CollapsibleLists.js"></script>

<style type="text/css">
     .treeView{
        -moz-user-select:none;
        position:relative;
      }

      .treeView ul{
        margin:0 0 0 -1.5em;
        padding:0 0 0 1.5em;
      }

      .treeView ul ul{
        background:url('/list-item-contents.png') repeat-y left;
      }

      .treeView li.lastChild > ul{
        background-image:none;
      }

      .treeView li{
        margin:0;
        padding:0;
        background:url('/list-item-root.png') no-repeat top left;
        list-style-position:inside;
        list-style-image:url('/button.png');
        cursor:auto;
      }

      .treeView li.collapsibleListOpen{
        list-style-image:url('/button-open.png');
        cursor:pointer;
      }

      .treeView li.collapsibleListClosed{
        list-style-image:url('/button-closed.png');
        cursor:pointer;
      }

      .treeView li li{
        background-image:url('/list-item.png');
        padding-left:1.5em;
      }

      .treeView li.lastChild{
        background-image:url('/list-item-last.png');
      }

      .treeView li.collapsibleListOpen{
        background-image:url('/list-item-open.png');
      }

      .treeView li.collapsibleListOpen.lastChild{
        background-image:url('/list-item-last-open.png');
      }

        .collapsibleList li{
        list-style-image:url('/button.png');
        cursor:auto;
       }

        li.collapsibleListOpen{
        list-style-image:url('/button-open.png');
        cursor:pointer;
        }

        li.collapsibleListClosed{
        list-style-image:url('/button-closed.png');
        cursor:pointer;
        }      
      
</style>

<script type="text/javascript">       


runOnLoad( function(){ 
        CollapsibleLists.apply(); 
        
        var para = document.createElement("p");        
        var node = document.createTextNode("loaded ok");
        para.appendChild(node);

        var parent = document.getElementById("testp");
        var child = document.getElementById("testc");
        
        parent.replaceChild(para,child);
  });    
  
</script>

</head>

<body>

<div id="content">
<ul class="treeView">

<a href="/">&nbsp/</a>
{%  set p = "/" %}
{%  for b in tree.path.split("/"): %}
{%    set p = p + b + "/"    %}

    <a href="{{p}}"> {{b}} </a>&nbsp/&nbsp
{%  endfor %}

<!-- <li> <b>{{ tree.name }}</b> -->
    
<li class="lastChild"><a href="/{{ tree.path }}/../">&nbsp&nbsp..&nbsp&nbsp</a></li>

<ul class="collapsibleList">

<!--  here   -->
<table>
{% for item in tree.children recursive %}
    <tr>
    {%- if item.di %}
        {% if loop.last %}
            <td><a href="/{{ item.path }}/">{{ item.name }}</a>
        {% else %}
            <td><a href="/{{ item.path }}/">{{ item.name }}</a>
        {% endif%}
        
        {% if item.children %}
            <td>
            {{ loop(item.children) }}
            </td>
        {% endif %}
         </td>
    {% else %}
        {% set name = item.name %}
        {% if item.mitm_info %}
            {% set name = item.mitm_info.time + " " + item.mitm_info.src + ":" + item.mitm_info.sport + " -> " + item.mitm_info.dst + ":" + item.mitm_info.dport %}
        {% endif%}    
        
        {% if loop.last %}
            <td><a href="/{{ item.path }}/{{ item.name }}">{{ name }}</a></td>
        {% else %}
            <td><a href="/{{ item.path }}/{{ item.name }}">{{ name }}</a></td>
        {% endif%} 
    {% endif %}
    </tr>
{% endfor %}
</table>
<!--  here   -->

</ul>
</li>
</ul>
</div>


<div id="testp">
<p id="testc">Loading...</p>
</div>
</body>
</html>