{% extends "page_template.html" %}

{% block title%}: homepage{% endblock %}
{% block caption%}: homepage{% endblock %}

{% block content %}
        <div id="content">

            <h4>Welcome to Smithproxy capture webpage</h4>
            <p>
            This page will give you basic fuctionality overview of Smithproxy. It also links to captured data. </br>
            <b>If you see this message, your administrator made that captures accessible to everyone via this webpage.</b> 
            It means any sensitive data can be easily seen by other users. You have been warned.
            </p>
            <h4>Functionality overview</h4>
            <p>
            This server acts as a invisible inspection device for both, plaintext and SSL connections <a href="/what-is-ssl-mitm.html">(explaination is here)</a>, saving captured traffic in log files. 
            If you are looking for something which can "decrypt" application SSL/TLS traffic, you are at good address here. 
            Since this proxy device is transparent, it's not necessary to set proxy in your software. It will "hijack" connections from the system as they pass through it.
            <p>Inspection is limited to following ports:
            <ul>
            <li> UDP: Plaintext:53</li>
            <li> TCP: Plaintext: 80(http), 25(smtp), 587(smtp-subm), 21(ftp), 143(imap), 110(pop3), 5222(xmpp/jabber) </li>
            <li> TCP: SSL inspection: 443(https), 465(smtps), 993(imaps), 996(pop3s), 636(ldaps), 10443(sslvpn)</li> 
            <li> all above <i>upgraded</i> with STARTTLS (w/o http)</li>
            <li> only traffic initiated from inspection network out is inspected</li>
            </ul>
            </p>
            </p>

            <h4>How to inspect/capture traffic</h4>
            This little howto shoud clarify steps necessary to set your capturing scenario correctly.
            <ul>
                <li>connect your testing PC into inspection network. In case you don't know where it is, contact system administrator.</li>
                <li>configure DHCP on your testing PC</li>
                <li>to avoid SSL certificate warnings, install <a href="cacert">this CA certificate</a> into your 'Trusted Root CA' certificate storage on testing PC.</li>
                <li>this is enough to acquire traffic captures from testing PC. They will be stored <a href="captures/">here</a> in text files.</li>
            </ul>
            

            <h4>Sniffer files</h4>
            <p>
            You can find <a href="/captures"> <strong> captured traffic here</strong></a>, you can also follow the link by the <img src="images?a=agent.png" width=15 height=15> icon on the top of the page, saying <b>"...for prying eyes"</b></br></br>
            Captures are plain-text files, similar to 'tcpdump -XXX' output. Each connection has it's own capture.</p>
            <p>
            What you can do with those?
            <ul>
                <li>you can analyze content of traffic regardless it was TLS (encrypted) or not</li>
                <li>you can <b>replay captured traffic with pplay tool</b> (see Related tools section), as it was pcap file. It's possible to <b>wrap captured clear-text back into SSL</b>. </li>
            </ul>
            
            <h4>How to use it with wireshark</h4>
            Text captures from <a href="captures/">here</a> are sometimes not enough. Content can be gzipped, can be chunked, or you just simply want to see traffic
            in wireshark, using its perfect dissectors. This is how you can achieve that:
            <ul>
                <li>Run wireshark and start to sniff interesting traffic</li>
                <li>Use <a href="srvkey">this RSA key </a>, import it to RSA keys to destination IP address of your traffic </li>
                <li>This is doable only if pfs is disabled. If ECDHE or DHE ciphers were used, pfs is enabled and this approach cannot work.</li>
            </ul>  
            </p>
        </div>
	<hr>

    <div id="content">
        <h4>More information</h4>
        <h4>Related tools</h4>
        <b>pplay.py</b> -- PCAP/SMCAP/script L7 content replayer</a>.</br>
        This tool is capable to replay PCAP file and <b>smithoproxy</b>'s log file (--smcap).
        If you are looking for something like lightweight <a href="http://tcpreplay.synfin.net/">tcpreplay suite</a>, it's probably for you.
    </div>
	<div id="content">
            <h4>Contacts</h4>
            If you have a suggestion or bugreport, email it here: support@smithproxy.org
	</div>

{% endblock %}
