<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Smithproxy captures web{% block title%} {% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <link rel="shortcut icon" href="/images?a=favicon.png" />
    <meta name="robots" content="noindex" />

    {% block head %} {% endblock %}
    
    <style type="text/css">
    body {
        color: #444444;
        background-color: #EEEEEE;
        font-family: 'Trebuchet MS', sans-serif;
        font-size: 80%;
    }
    h1 {}
    h2 { font-size: 1.2em; }
    #page{
        background-color: #FFFFFF;
        width: 70%;
        margin: 24px auto;
        padding: 6px;
    }
    #header{
        padding: 3px ;
        text-align: center;
    }
    .header{ background-color: #83A342; color: #FFFFFF; }
    #content {
        padding: 14px 14px 24px 24px;

        border-left: 1px #efefef solid;
        border-right: 1px #efefef solid;
    }
    #footer {
        color: #666666;
        background: #f9f9f9;
        padding: 10px 20px;
        border-top: 5px #efefef solid;
        border-bottom: 1px #efefef solid;
        border-left: 1px #efefef solid;
        border-right: 1px #efefef solid;
        font-size: 0.8em;
        text-align: center;
    }
    #footer a {
        color: #999999;
    }
    #header {
        color: #222222;
        background: #f9f9f9;
        padding: 10px 20px;
        border-bottom: 5px #efefef solid;
        border-top: 1px #efefef solid;
        border-left: 1px #efefef solid;
        border-right: 1px #efefef solid;
        font-size: 0.8em;
        text-align: left;
    }
    #header a {
        color: #5555ff;
    }
    
    #fixed {
        font-family: 'Courier New', monospace;
    }
    
    {% block style %} {% endblock %}
    </style>
</head>
<body>
    <div id="page">
        <div id="header">
            <a href="/"><image src="/images?a=agent.png" width=40px height=40px align="center"></a>
            <a href="/captures"> <b> <small>... for prying eyes </small></b></a></br>
	    <h2>SSLPROXY {% block caption%} {% endblock %}</h2>
	</div>

	{% block content %}{% endblock %}

        <div id="footer">
        Smithproxy <b>{{sm_version}}</b> + Smithweb <b>{{sw_version}}</b>:  this site will never look fancy enough! 
        </div>
    </div>
</body>
</html>

