{% extends "page_template.html"%}
{% block title%}: SSL Mitm Explained{% endblock %}
{% block caption%}: SSL Mitm Explained{% endblock %}

{% block content %}
        <div id="content">

	<h2> SSL Mitm Explained</h2>

	<p>
	As we know, the SSL protocol works on public key cryptography
	concepts, whereby a server is hosted with a digital certificate for online
	data encryption. This certificate is provided by some trusted authority
	such as VeriSign, to endorse the identity of the website URL. 
	</p>
	<p>
	In a normal situation, when a client (a browser) tries to connect to the secure server,
	the server provides its certificate to the browser. The browser then checks
	it against its own list of valid and trusted certificates, and verifies the
	information contained in it. Once the certificate is accepted, the server
	and browser both negotiate on a common level of encryption to be used. They
	then create a key, and transfer data in the encryption form agreed to. 
	If the certificate has expired or is not trusted, the browser flashes a warning
	to alert those who are using it. 
	</p>
	<p>
	In order to compromise this situation, attackers sniff the traffic between browser and Web server, and insert
	their computer in the network by using standard spoofing techniques. This is actually
	general mitm (Man In the Middle) definition: to "jump" in the connection, likely 
	without both ends' knowing.
	</p>
	<p>
	From this point onwards, the attacker's computer runs a proxy tool for the SSL
	communication. This is done in such a way that the Web server negotiates
	the SSL key with the attacker's machine, while the communication with the
	browser and attacker's machine negotiates different SSL connection. 
	</p>
	<p>
	This results in exposing all the sensitive information to the attacker's computer, 
	which could be sniffed, recorded and stored for further usage. Of course, 
	we are using it for troubleshooting, but it's possible to misuse it badly!
	</p>
	<p>
	If the attackers gain physical access to the victim computer temporarily,
	 they install a bogus certificate on it.
	Established SSL connection with the Web server is using the trusted server's certificate, 
	and with the browser, by using the bogus certificate. 
	</p>
	<p>
	More advanced technique is to generate brand new certificates for all HTTPS
	sites, while those are signed by specially crafted PKI CA authority on the fly,
	while user is browsing. </br>
	Installing this CA's authority certificate to computer's "Trusted Root CA" store will make the computer
	trust ALL spoofed certificates signed by this CA, which means al HTTPS sites could be 
	sniffed by such a tool. This is exactly what our smithproxy does.
	</p>
	<p>
	This is done to ensure that the URL is seen as HTTPS, and the actual communication is indeed SSL too.
	Attacker is hidden, but data is being captured in the process.
	</p>
	<p>
	Hope this a bit uncovered SSL Mitm technique. I deliberately left unexplained 
	how you could manage to be mitm. There are dozens of ways how to do that, but
	it's out of scope of this tiny article.
	</p>
	<p>
	Text is shamelessly taken from <a href="http://www.opensourceforu.com/2013/01/cyber-attacks-explained-the-man-in-the-middle-part-8/">
	this forum</a>, corrected and heavily modified. God save my soul.
	</p>

{% endblock %}


